// FONT GOTHAM ROUNDED
@font-face {
	font-family: gothamRoundedBold;
	src: url(../../assets/fonts/gotham-rounded/GothamRoundedBold_21016.ttf);
}
@font-face {
	font-family: gothamRoundedBook;
	src: url(../../assets/fonts/gotham-rounded/GothamRoundedBook_21018.ttf);
}
@font-face {
	font-family: gothamRoundedLight;
	src: url(../../assets/fonts/gotham-rounded/GothamRoundedLight_21020.ttf);
}
@font-face {
	font-family: gothamRoundedMedium;
	src: url(../../assets/fonts/gotham-rounded/GothamRoundedMedium_21022.ttf);
}

$primaryRed: #ea1e25;
$white: #ffffff;
$fontDark: #424142;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	vertical-align: middle;
}

html {
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding-left: 0;
}

body {
	font: gothamRoundedBold;
	background: $white;
	overflow-x: hidden;
	font-size: 14px;
}

// GLOBAL STYLE
button {
	border-radius: 25px 5px;
	background-color: $primaryRed;
	color: $white;
	padding: 10px 16px;
	border: 0;
	line-height: 1;
	cursor: pointer;
	&.outline {
		border: 1px solid $primaryRed;
		color: $primaryRed;
		background-color: transparent;
		&.default {
			border: 1px solid $fontDark;
			color: $fontDark;
			background-color: transparent;
		}
	}
	&:focus {
		outline: none;
	}
}

form {
	.input-group {
		display: flex;
		flex-direction: column;
		span {
			font-size: 12px;
			color: $fontDark;
			font-weight: 700;
		}
		& + .input-group {
			margin-top: 20px;
		}
	}
	button {
		margin-top: 24px;
		width: 100%;
	}
	.forgot-button {
		margin-top: 40px;
		p {
			margin-bottom: 8px;
			text-align: right;
		}
		button {
			margin-top: 0;
			width: 100%;
		}
	}
}
// GLOBAL STYLE

#header {
	background: $white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	position: relative;
	z-index: 9999;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				h1 {
					color: $primaryRed;
					font-size: 24px;
					border-left: 2px solid #cac5d1;
					margin-left: 10px;
					padding-left: 10px;
					margin-bottom: 0;
				}
			}
		}
		.header-button {
			display: flex;
			align-items: center;
			.dropdown-menu {
				top: 8px !important;
				padding: 16px 20px;
				min-width: 400px;
				font-size: 14px;
				border-radius: 15px;
				border: 0;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
				.member-info {
					display: flex;
					align-items: center;
					box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
					border-radius: 5px;
					padding: 16px;
					span {
						width: 20px;
						height: 20px;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 50%;
						display: block;
						margin-right: 16px;
					}
					h4 {
						font-size: 16px;
						font-weight: 700;
						margin: 0;
					}
				}
				.bottom {
					display: flex;
					margin-top: 20px;
					.left {
						flex-grow: 1;
						ul {
							padding: 0;
							margin: 0;
							li {
								display: flex;
								justify-content: space-between;
								align-items: center;
								line-height: 36px;
							}
						}
					}
					.right {
						display: flex;
						flex-wrap: wrap;
						align-content: space-between;
						border-left: 1px solid #eae6ed;
						padding-left: 20px;
						margin-left: 20px;
						li {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
					}
				}
				h3 {
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 16px;
				}
				.notification-item {
					.badge-group {
						.badge-light {
							color: $white;
							background: #c4c4c4;
						}
					}
					p {
						line-height: 17px;
						margin-bottom: 0;
					}
					& + .notification-item {
						padding-top: 16px;
						margin-top: 16px;
						border-top: 1px solid #eae6ed;
					}
				}
				a {
					text-decoration: none;
					color: inherit;
				}
			}
			a {
				vertical-align: middle;
				&:focus {
					outline: none;
				}
				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}
				i {
					font-size: 18px;
					color: $fontDark;
					margin-right: 16px;
					position: relative;
					span {
						font-family: gothamRoundedBold;
						position: absolute;
						top: -10px;
						right: -10px;
						background-color: $primaryRed;
						font-size: 8px;
						border-radius: 50%;
						width: 20px;
						height: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: $white;
						border: 1px solid $white;
						font-weight: 700;
					}
				}
				button {
					margin-left: 8px;
					span {
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						display: inline-block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						margin-right: 8px;
					}
				}
			}
		}
	}
}

.container {
	max-width: 1200px;
	padding: 0;
}

.wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
	&.style1 {
		background: $white url(../images/banner.svg) no-repeat center center;
		background-size: cover;
		min-height: 85vh;
	}
	&.style2 {
		background: $white;
	}
}

#footer {
	text-align: unset;
	color: $fontDark;
	padding-bottom: 0;
	.container {
		.menu-flex {
			& > ul {
				display: flex;
				justify-content: space-between;
				li {
					h2 {
						font-size: 30px;
						margin-top: 8px;
						margin-bottom: 8px;
					}
					h3 {
						font-size: 18px;
						color: $primaryRed;
					}
					span {
						font-size: 12px;
						font-weight: 500;
					}
					ul {
						li {
							a {
								font-size: 14px;
								color: $fontDark;
								font-weight: 500;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
		.menu-collapse {
			display: none;
			margin-left: -16px;
			margin-right: -16px;
			.panel-heading {
				h4 {
					margin-bottom: 0;
				}
			}
			.panel-title {
				position: relative;
				font-size: 18px;
				color: $primaryRed;
				padding: 0.75rem 1.25rem;
				&:after {
					content: "\f107";
					color: $primaryRed;
					top: 12px;
					right: 16px;
					position: absolute;
					font-family: "FontAwesome";
				}
				&[aria-expanded="true"]:after {
					content: "\f106";
				}
				&[aria-expanded="true"] {
					background-color: $primaryRed;
					color: $white;
				}
				&[aria-expanded="true"]:after {
					color: $white;
				}
			}
			.panel-home,
			.panel-call-us {
				.panel-title {
					&:after {
						content: " ";
					}
					&[aria-expanded="true"]:after {
						content: " ";
					}
				}
			}
			.panel-call-us {
				padding-left: 16px;
				padding-right: 16px;
				margin-bottom: 24px;
			}

			.panel-body {
				.list-group {
					.list-group-item {
						padding: 0;
						border: 0;
						background-color: rgb(222, 222, 222);
						a {
							width: 100%;
							display: block;
							padding: 0.75rem 1.25rem;
							font-size: 18px;
							color: $fontDark;
							text-decoration: none;
							font-weight: 500;
						}
					}
				}
			}
		}

		& > ul {
			li {
				&.follow {
					display: flex;
					align-items: center;
					h3 {
						margin-right: 40px;
						color: $fontDark;
					}
					ul {
						&.icons {
							padding: 0;
							margin: 0;
							li {
								padding-right: 0px;
								a {
									opacity: 1;
									font-size: 18px;
									vertical-align: middle;
									&:hover {
										opacity: 0.7;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#copyright {
	position: relative;
	text-transform: capitalize;
	text-align: left;
	padding: 0;
	color: $white;
	opacity: 1;
	img {
		vertical-align: bottom;
	}
	.cr-text {
		background-color: $primaryRed;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		padding: 20px;
		padding-left: 30px;
		width: 8000px;
		position: absolute;
		bottom: 0;
		left: 80px;
	}
}

// CUSTOM TAB
.container-tab {
	width: 100%;
	input {
		display: none;
		&:checked + label {
			background-color: $primaryRed;
			color: $white;
			border: 0;
		}
		@for $i from 1 through 4 {
			&#tab#{$i}:checked {
				~ .line {
					left: #{($i - 1) * 25%};
				}
				~ .content-container #c#{$i} {
					opacity: 1;
					display: block;
				}
			}
		}
	}
	label {
		border-radius: 25px 5px;
		padding: 10px 16px;
		text-align: center;
		color: #c4c4c4;
		border: 1px solid #c4c4c4;
		position: relative;
		transition: 0.25s background ease;
		margin-right: 8px;
		cursor: pointer;
		&::after {
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			display: block;
			bottom: 0;
			opacity: 0;
			left: 0;
			transition: 0.25s ease;
		}
		&:hover::after {
			opacity: 1;
		}
	}
	.content-container {
		position: relative;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-top: 30px;
		padding-bottom: 30px;
		scrollbar-color: #ea1e25 #f4f4f4;

		&::-webkit-scrollbar {
			height: 17px;
		}

		&::-webkit-scrollbar-track {
			background-color: #f4f4f4;
			border-radius: 100px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $primaryRed;
			border-radius: 100px;
		}
		.content {
			width: 100%;
			opacity: 0;
			transition: 0.25s ease;
			display: none;
			.slider-event {
				// min-width: 2000px;
				display: flex;
				.event-item-big {
					border-radius: 16px;
					background-color: #f4f4f4;
					padding: 20px;
					min-width: 600px;
					max-width: 600px;
					display: flex;
					flex-wrap: wrap;
					a {
						text-decoration: none;
						transition: all 1s;
						&:hover {
							opacity: 0.8;
						}
					}
					.title-date {
						display: flex;
						align-content: space-between;
						flex-wrap: wrap;
						justify-content: flex-end;
						h1 {
							font-size: 48px;
							color: $fontDark;
							line-height: 50px;
							margin-top: 24px;
							margin-bottom: 16px;
							width: 100%;
						}
						.date {
							display: flex;
							justify-content: flex-end;
							text-align: center;
							h2 {
								font-size: 36px;
								text-align: center;
							}
							span {
								font-size: 18px;
								line-height: 22px;
								display: block;
								color: $primaryRed;
								text-transform: uppercase;
								font-weight: 700;
							}
						}
					}
					.img {
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						min-height: 300px;
						border-radius: 12px;
						width: 100%;
					}
				}
				.event-items {
					margin-left: 30px;
					.event-item-default {
						border-radius: 16px;
						background-color: #f4f4f4;
						padding: 20px;
						min-width: 340px;
						max-width: 340px;

						a {
							text-decoration: none;
							transition: all 1s;
							&:hover {
								opacity: 0.8;
							}
						}
						.date {
							display: flex;
							justify-content: space-between;
							align-items: flex-end;
							margin-top: 16px;
							h4 {
								font-size: 18px;
								color: $fontDark;
								line-height: 20px;
							}
							h2 {
								font-size: 36px;
								text-align: center;
							}
							span {
								font-size: 18px;
								line-height: 22px;
								display: block;
								color: $primaryRed;
								text-transform: uppercase;
								font-weight: 700;
								text-align: center;
							}
						}
						.img {
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							min-height: 170px;
							border-radius: 12px;
						}
						& + .event-item-default {
							margin-top: 30px;
						}
					}
				}
			}
		}
	}
}

// LOGIN
.loginpage {
	.login {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.icon-page {
			h3 {
				font-size: 24px;
				font-weight: 700;
				text-transform: unset;
			}
			h3,
			p {
				text-align: center;
				margin-bottom: 0;
			}
		}
		.login--form {
			position: relative;
			width: 420px;
			box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
			background-color: $white;
			border-radius: 15px;
			padding: 50px 40px;
			i {
				position: absolute;
				right: 30px;
				top: 25px;
				font-size: 18px;
				color: #c4c4c4;
			}
			h1 {
				font-size: 24px;
				margin-bottom: 8px;
			}
			p {
				a {
					font: gothamRoundedBold;
					color: $primaryRed;
					text-decoration: none;
					font-weight: 700;
				}
			}
			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 32px;
				h1 {
					margin: 0;
				}
				p {
					margin: 0;
				}
			}
		}
	}
}

.eventpage {
	.event-card {
		background: $white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		display: flex;
		& > div {
			width: 50%;
		}
		.bg-image {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		.event-desc {
			padding: 60px 30px;
			display: flex;
			align-items: flex-start;
			& > div {
				&:first-of-type {
					display: flex;
					flex-direction: column;
					text-align: center;
					span {
						color: $primaryRed;
						font-weight: 700;
						font-size: 18px;
						text-transform: uppercase;
					}
					h2 {
						font-size: 36px;
					}
				}
				&:last-of-type {
					padding-left: 20px;
					h3 {
						font-size: 24px;
						text-transform: unset;
						font-weight: 700;
						line-height: 28px;
						margin-bottom: 12px;
					}
					p {
						font-size: 18px;
						line-height: 22px;
						margin-bottom: 20px;
					}
				}
			}
		}
		.register-form {
			padding: 45px;
			width: 100%;
			h4 {
				font-size: 18px;
				color: $primaryRed;
				margin-bottom: 24px;
			}
			h3 {
				font-size: 24px;
				font-weight: 700;
				text-transform: unset;
				max-width: 50%;
				margin-bottom: 0;
			}
			form {
				.input-group {
					margin-top: 16px;
				}
				.confirm {
					margin-top: 24px;
					p {
						margin-bottom: 30;
					}
					button {
						margin-top: 0;
						width: auto;
					}
				}
			}
		}
	}

	.desc-detail {
		margin-top: 60px;
		margin-bottom: 60px;
		p {
			font-weight: 500;
			margin-bottom: 20px;
			strong {
				color: $primaryRed;
				font-weight: 700;
				line-height: 1;
				display: inline-block;
				margin-top: -3px;
			}
		}
	}
}

// Profile Page
.profilepage {
	h3 {
		&.title-event {
			font-size: 24px;
			font-weight: 700;
			text-transform: unset;
		}
	}
	.profile-card {
		background-color: $white;
		box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		padding: 40px;
		position: relative;
		& > img {
			position: absolute;
			top: 20px;
			right: 0;
		}
		.photo {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom: 30px;
			img {
				width: 100px;
				border-radius: 50%;
			}
		}
		button {
			width: 100%;
		}
		p {
			display: flex;
			i {
				margin-left: 8px;
				margin-right: 8px;
				display: block;
				line-height: 2;
				color: #d9e2e7;
			}
		}
	}
	.profile-event-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 24px;
		.profile-event-card {
			background: $white;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			width: 48%;
			margin-bottom: 24px;
			.banner {
				height: 200px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
			}
			.desc {
				padding: 24px;
				display: flex;
				align-items: flex-start;
				.date {
					text-align: center;
					p {
						font-size: 18px;
						color: $primaryRed;
						text-transform: uppercase;
						margin-bottom: 0;
						font-weight: 700;
						line-height: 1.3;
					}
					h2 {
						font-size: 36px;
					}
				}
				.title {
					padding-left: 24px;
					h3 {
						font-size: 18px;
						font-weight: 700;
						text-transform: unset;
						line-height: 20px;
						margin-bottom: 10px;
					}
					p {
						line-height: 16px;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.modal,
.modal-open {
	padding: 0 !important;
	margin: 0 !important;
	.modal-dialog {
		margin: 20vh auto;
		.modal-body {
			text-align: center;
			h2 {
				max-width: 400px;
				margin: 0 auto;
			}
		}
		.modal-footer {
			justify-content: center;
			border: 0;
			padding-bottom: 40px;
			padding-top: 0;
		}
	}
}

input {
	&.form {
		border: 0.5px solid #adb4c3;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 5px 10px;
	}
}

.display-mobile {
	display: none;
}

.display-desktop {
	display: block;
}

@media (max-width: 1199.98px) {
	.wrapper {
		&.style1 {
			min-height: 60vh;
		}
	}
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (max-width: 991.98px) {
	.wrapper {
		&.style1 {
			min-height: 40vh;
		}
	}
	.loginpage {
		.login {
			flex-wrap: wrap;
			justify-content: center;
			.icon-page {
				padding-left: 16px;
				padding-right: 16px;
				margin-bottom: 48px;
				text-align: center;
				h3 {
					width: 70%;
					margin: 0 auto;
					line-height: 1.2;
				}
				img {
					width: 90%;
				}
			}
		}
	}
	#footer {
		padding-top: 2em;
		.container {
			.menu-flex {
				display: none;
			}
			.menu-collapse {
				display: block;
				margin-bottom: 24px;
				.follow {
					padding-left: 16px;
					padding-right: 16px;
					ul.icons li a {
						opacity: 1;
					}
				}
			}
		}
	}
	.display-mobile {
		display: block;
	}
	.display-desktop {
		display: none;
	}
	// Profile Page
	.profilepage {
		.profile-card {
			margin-bottom: 24px;
		}
	}

	#copyright {
		display: flex;
		margin-right: -16px;
		align-items: flex-end;
		.cr-text {
			position: unset;
			display: flex;
			align-items: center;
			margin-left: 16px;
			font-size: 12px;
			line-height: 1.5;
			height: 80px;
		}
	}
}

@media (max-width: 575.98px) {
	#header {
		.container {
			.header-button {
				a {
					button {
						font-size: 10px;
					}
				}
			}
		}
	}
	.wrapper {
		&.style1 {
			min-height: 25vh;
		}
	}
	.profilepage {
		.profile-event-wrapper {
			.profile-event-card {
				width: 100%;
			}
		}
	}
}
